<div class="quote">
  <blockquote>
    <p class='asked'> <%= params[:question] %></p>
    <cite>You</cite>
  </blockquote>
</div>

<div class="quote">
  <blockquote>
    <p class='answer'> <%= @answer %></p>
    <cite>Coach</cite>
  </blockquote>
</div>

<a href="/ask">Ask new question.</a>
